/*  Folha de estilo do site @Author Darjan */
/* IMPORT GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS RESET */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
}

/*  LAYOUT */
.container {
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.Botao {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #c00000;
    padding: 10px 40px;
    border: 2px solid #fff;
    border-radius: 25px;
}

/*TOPO DO SITE */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Smartphone retrato */

/*CABEÇALHO */ 
header {
    height: 60px;
}

#logo img {
    width: 200px;
    height: 80px;
}

#check {
    display: none;
}   

label {
    font-size: 3em;
    padding-right: 15px;
}

nav ul {
    list-style: none;
    background-color: #343538;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;
}

#check:checked ~ ul {
    right: 0;
}   


nav ul li {
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/*DESTAQUE */
main {
    height: 75vh;
    background: url(img/image.png);
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1 {
    font-size: 2.5em;
}

main h2 {
    font-size: 1em;
    margin: 20px 0px 50px 0px;
}


/* Smartphone paisagem */
@media (min-width: 576px) {
    /*LAYOUT*/
    .container {
     max-width: 540px;
    }
}

/*DESTAQUE */
main h1, main h2 {
    text-shadow: #000 0.05em 0.05em 0.05em ;
}

/* tablet retrato */
@media (min-width: 768px) {
    /*LAYOUT*/
    .container {
     max-width: 720px;
    }
}

/* DESTAQUE */
    main {
        height: 45vh;
    }

    main h1 {
        font-size: 2.0em;
    }

    main h2 {
        font-size: 0.8em;
    }

/* tablet paisagem */
@media (min-width: 992px) {
    /*LAYOUT*/
    .container {
     max-width: 960px;
    }
}

/* DESTAQUE*/
    main {
        height: 70vh;
    }


/* pc */
@media (min-width: 1200px) {
    /*LAYOUT*/
    .container {
     max-width: 1140px;
    }


/*CABEÇALHO */
header {
    height: 120px;
}

#logo img {
    width: 300px;
    height: 100px;
    margin-top: 20px;
}

label {
    display: none;
}
    
nav ul {
    position: static;
    height: auto;
    background-color: transparent;
    margin-top: 50px;
}

nav ul li {
    float: left;
    border: 0;
}

nav ul li a {
    color: #343538;
}

nav ul li a:hover {
    color: #530707;
}

}